body {
    background-image: url("images/background.png");
    background-color: #0a1522;
    background-size: contain;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue";
    background-attachment: fixed;
}

.main {
    /*background-color: #62C0E4;*/
    position: absolute;
    /*float: right;*/
    left: 200px;
    right: 0;
    height: 100%;
}
/* ========================================Title======================================== */
.main .title {
    position: absolute;
    height: 25%;
    top: 0;
    left: 100px;
    right: 100px;
}

.main .title .name {
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
    /*border-top: 5px #fff solid;
    border-bottom: 5px #fff solid;*/
    left: 100px;
    right: 100px;
    top: 50%;
    transform: translate(0, -50%);
}
.main .title .tags {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    left: 100px;
    right: 100px;
    bottom: 40px;
}
/* ========================================Information View======================================== */
.main .information {
    background-color: #fff;
    position: absolute;
    border-radius: 15px;
    top: 25%;
    left: 100px;
    right: 100px;
    bottom: 0;
    box-shadow: 5px 5px 5px #000;
}

.main .information .view {
    height: 100%;
    position: absolute;
}

.main .information .about {
    /*position: absolute;*/
    left: 50px;
    right: 50px;
}
.main .information .about .image {
    height: 50%;
}
.main .information .about .image .photo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 250px;
    border-radius: 250px;
    border: 3px solid #000;
    background-image: url("images/headshot.png");
    background-position: center;
    background-size: cover;
}
.main .information .about .text {
    height: 50%;
    bottom: 0;
    position: absolute;
}
.main .information .about .text p {
    position: relative;
    color: #000;
    text-align: center;
    font-size: 25px;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
}

.main .information .about .projects table {
    bottom: -100%;
    height: 100%;
    position: absolute;
    width: 100%;
}
.main .information .about .projects tr {
    background-color: white;

}
.main .information .about .projects td {
    padding: 0;
    margin: 0;
    /*background-color: blue;*/
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 25px;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    border-radius: 15px;
}


/* ========================================Navbar======================================== */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #060e17;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: -10px 0 10px -10px inset;
}

.navbar ul .logo a img {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width:65px;
    height:47.21px;
    left: 50%;
    transform: translate(-50%, 0);
}

.navbar .link a {
    position: relative;
    font-weight: bold;
    font-size: 30px;
    display: block;
    color: #fff;
    padding: 15px 0;
    text-decoration: none;
    border-bottom: 1px #fff solid;
    left: 0;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;

}

.navbar .icons a {
    position: relative;
    font-weight: bold;
    font-size: 28px;
    /*display: block;*/
    float: left;
    color: #fff;
    padding: 10px 0;
    left: 0;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    transition: 300ms;
}
.navbar .icons {
    bottom: 0;
    /*position: absolute;*/
    margin-top: 175px;
    bottom: 0;
}

.navbar .icons a:hover {
    transform: scale(1.25);
}

.navbar .icons a:active {
    color: #ababab;
}

.navbar .link a:active {
    color: white;
    transform: scale(1.25);
}

.navbar .link a:hover/*:not(.active)*/ {
    background-color: white;
    color: #060e17;
}
.navbar .logo a:hover img/*:not(.active)*/ {
    width: 70px;
}
